POSTGRES_USER=
POSTGRES_PASSWORD=

RABBITMQ_USER=
RABBITMQ_PASSWORD=

POSTGRES_URL=

REDIS_HOST=

JWT_SECRET=
JWT_EXPIRATION=

MAILTRAP_USER=
MAILTRAP_PASS=

MINIO_USER=
MINIO_PASSWORD=
MINIO_ENDPOINT=
MINIO_BUCKET=